@tailwind base;
@tailwind components;
@tailwind utilities;

tr{
    background-color: #fff;
    border-bottom: 1px solid #e2e8f0;
    color: #2d3748;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;
}